<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

  <h2>My Home Page ---- Yoohoo!</h2>
  <hr>
  <p>
  Welcome to My Home Page!
  </p>

  <hr>
    <!-- display user name and role -->

  <p>
      User: <span sec:authentication="principal.username"></span>
      <br><br>

      Role(s): <span sec:authentication="principal.authorities"></span>
  </p>

  <div sec:authorize="hasRole('MANAGER')">
      <!-- Add a link to point /leaders... -->
      <p>
          <a th:href="@{/leaders}">Leadership Meeting</a>
          (only for Manger Page)
      </p>
</div>
  <div sec:authorize="hasRole('ADMIN')">
      <!-- Add a link to point /systems... -->
      <p>
          <a th:href="@{/systems}">ONLY for ADMIN</a>
          (only for ADMINISTRATOR)
      </p>
  </div>

  <hr>

    <!-- Add a logout Button -->
    <form action="#" th:action="@{/logout}" method="POST">

        <input type="submit" value="Logout" />
    </form>
</body>
</html>